audioread==3.0.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
decorator==4.4.2
fonttools==4.52.4
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
joblib==1.4.2
kiwisolver==1.4.5
lazy-loader==0.4
librosa==0.10.2.post1
llvmlite==0.42.0
matplotlib==3.9.0
moviepy==1.0.3
msgpack==1.0.8
numba==0.59.1
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
platformdirs==4.2.2
plotly==5.22.0
pooch==1.8.1
proglog==0.1.10
pycparser==2.22
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.2
scikit-learn==1.5.0
scipy==1.13.1
six==1.16.0
sklearn==0.0
skrebate==0.62
sounddevice==0.4.6
soundfile==0.12.1
soxr==0.3.7
tenacity==8.3.0
threadpoolctl==3.5.0
tqdm==4.66.4
typing-extensions==4.12.0
tzdata==2024.1
urllib3==2.2.1
youtube-dl==2021.12.17
